<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" type="submit" (click)="SetSignUpMethod(1)">Sign in/up with Email</button>
    </div>
</div>
<div class="row" *ngIf="authModeSelected==1">
    <div class="col-xs-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">E Mail</label>
                <input type="email" id="email" name="email" class="form-control" ngModel required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ngModel required
                    minlength="6">
            </div>
            <div>
                <button type="submit" [disabled]="!authForm.valid"
                    class="btn btn-primary">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>|
                <button class="btn btn-primary" (click)="OnSwitchMode()" type="button">Switch to
                    {{isLoginMode?'SignUp' : 'Login'}}</button>
            </div>
            <br />
            <div *ngIf="isAuthenticating" class="spinner-border spinner-border-sm"></div>
            <span
                *ngIf="isAuthenticating">{{ isLoginMode ? '  Logging user in.....' : '  Registering User.....' }}</span>
            <div class="alert alert-danger" *ngIf="AuthErr">
                <p>{{AuthErr}}</p>
            </div>
        </form>
    </div>
</div>